@inherits LayoutComponentBase
@inject IStringLocalizer<AppStrings> Localizer
<div class="page">
    <div class="row">
        <div class="col-12">
            <img style="cursor:pointer;float: right;" id="FlagsImg" title="@Localizer["Shared_ChangeLanguage"]" src="img/Flags.png" @onclick="ToggleLanguage" />
        </div>
    </div>
    <main>
        <article class="content px-2">
            @Body
        </article>
    </main>
</div>
@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; }
    private void ToggleLanguage()
    {
        // Pobierz bieżący język aplikacji
        var currentCulture = CultureInfo.CurrentCulture.Name;

        // Ustaw docelowy język na przeciwny
        var targetCulture = currentCulture == "en-US" ? "pl-PL" : "en-US";

        // Zmień język aplikacji na docelowy
        CultureInfo.DefaultThreadCurrentCulture = new CultureInfo(targetCulture);
        CultureInfo.DefaultThreadCurrentUICulture = new CultureInfo(targetCulture);

        // Przeładuj stronę, aby zastosować zmiany
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }
}
