@page "/"
@using Versus.Core.Components.Auth.Components


<div class="row">
    <div class="col-12 col-md-8 col-lg-6 col-xl-4 mx-auto">
        <div class="row">
            <div class="col-6 col-md-8 col-lg-6 col-xl-4 mx-auto">
                <img src="_content/Versus.Core/images/VersusLogo.png" class="img-fluid" alt="app_logo"/>
            </div>
        </div>

        <div class="">
            <div class="row my-5">
                <div class="col text-end">
                    <span class="vs-text-shadow">@Localizer["Auth_Login"]</span>
                </div>
                <div class="col">
                    <label class="vs-switch flex-grow-1 d-block mx-auto">
                        <input type="checkbox" onchange="document.querySelector('.vs-flip-container').classList.toggle('flipped')">
                        <span class="vs-slider"></span>
                    </label>
                </div>
                <div class="col">
                    <span class="vs-text-shadow">@Localizer["Auth_Registration"]</span>
                </div>
            </div>
        </div>

        <div class="vs-flip-container">
            <div class="vs-flip-item">
                <div class="vs-flip-item-front">
                    <div class="card vs-bg-primary">
                        <div class="card-body">
                            <LoginPanel/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vs-flip-item">
                <div class="vs-flip-item-back">
                    <div class="card vs-bg-primary">
                        <div class="card-body">
                            <RegisterPanel/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
