<h3 class="vs-white">Pair</h3>
@code {

    [Parameter] public int Game { get; set; }
    [Parameter] public int Gender { get; set; }
    [Parameter] public int AgeMax { get; set; }
    [Parameter] public int AgeMin { get; set; }
    [Parameter] public int Level { get; set; }

}