:root {
    --vs-primary: #2b2e38;
    --vs-secondary: #040404;
}
.vs-bg-primary {
    background-color: var(--vs-primary);
}
.vs-bg-secondary {
    background-color: var(--vs-secondary);
}
.vs-link {
    text-decoration:underline;
    color:white;
}
.vs-white {
    color:white;
}
.vs-black {
    color: black;
}
.vs-green {
    color: green;
}
.vs-red {
    color: red;
}
.vs-text-shadow-black {
    text-shadow: 1px 1px 1px black, 1px 1px 1px #ff0000e6;
    color: white;
}
.brand-facebook {
    background: #3B5998;
    color: white;
}
.vs-circle {
    background-color: rgba(0, 0, 0, 0.125);
}
.brand-google {
    background: #dd4b39;
    color: white;
}
.vs-slider {
    background: lightgray;
}

.vs-slider:before {
    background: white;
    box-shadow: 0 2px 2px lightgray;
}
.vs-switch > input:checked + .vs-slider {
    background-color: #e91e63;
}
.form-control::placeholder {
    color: #ccc;
    opacity: 1;
}
