@import url("bootstrap-overrides.css");
@import url("mudblazor-overrides.css");
@import url("radzen-overrides.css");
@import url("colors.css");

html, body {
    font-family: "Roboto", serif;
    height: 100vh;
    background: url("../images/Background.jpg") center/cover no-repeat;
}

/* versus-flip */
.vs-flip-container {
    perspective: 1000px;
    display: block; /* Make it a block-level element */
}

.vs-flip-item {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: 100%;
}

.vs-flip-container.flipped .vs-flip-item {
    transform: rotateY(180deg);
}

.vs-flip-item-front, .vs-flip-item-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vs-flip-item-front {
}

.vs-flip-item-back {
    transform: rotateY(180deg);
}

/* versus-navbar */
.vs-navbar {
    display: flex;
    justify-content: space-between;
}

.vs-navbar .btn {
    width: initial;
}

/* versus-separator */
.vs-separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.vs-separator::before,
.vs-separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid lightgray;
}

.vs-separator:not(:empty)::before {
    margin-right: 1em;
}

.vs-separator:not(:empty)::after {
    margin-left: 1em;
}

/* versus-switch */
.vs-switch {
    position: relative;
    display: inline-block;
    margin: auto 5px;
    width: 32px;
    height: 16px;
}

.vs-switch > input {
    display: none;
}

.vs-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    transition: .4s;
}

.vs-slider:before {
    position: absolute;
    height: 24px;
    width: 24px;
    left: -12px;
    top: -4px;
    border-radius: 50%;
    transition: .4s;
    content: '';
}
.vs-switch > input:checked + .vs-slider:before {
    transform: translateX(32px);
    background: #e91e63;
    box-shadow: 0 2px 2px lightgray;
 }
.vs-form-style{
    padding: 13px 20px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color: #1f2029;
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.vs-link {
    font-size: small;
}
.form-control::placeholder {

    opacity: 1; 
}
@media (max-width: 500px) {
    .offcanvas {
        --bs-offcanvas-width: 85%!important; 
    }
}
.offcanvas {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1)); 
    backdrop-filter: blur(10px); 
}

.offcanvas-body {
    background-color: transparent;
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color:lightgray;
    border: transparent;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #4a4a4a, #555555);
}
